/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto&display=swap');

  /*
  font-family: 'Marck Script', cursive;
  font-family: 'Roboto', sans-serif;
  */

#container {
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}

/* header {
    background: #5E815E;
} */

nav ul {
    list-style-type: none;
    display: flex;
    float: right;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #FFF;
    background: #5E815E;
    display: block;
    margin: 3px;
    padding: 10px;
    border-top: 2px transparent;
    border-bottom: 2px transparent;
}

nav a:hover {
    text-decoration: none;
    color: #5E815E;
    background: #FFF;
    display: block;
    margin: 3px;
    padding: 10px;
    border-top: 2px #5E815E solid;
    border-bottom: 2px #5E815E solid;
}

/* header {
    border-bottom: 2px solid #5E815E;
} */

header img {
    max-width: 100px;
}

header h1 {
    font-family: 'Marck Script', cursive;
    text-align: center;
    color: #5E815E;
    font-size: 3rem;
}

header p {
    text-align: center;
    color: #5E815E;
}

main h1 {
    color: #5E815E;
}

main img {
    max-width: 200px;
    float: right; /* I discovered this neat stair-step appearance by accident with this setting, so I kept it that way. */
}

main a {
    color: #E13133;
}

footer {
    margin-top: 200px;
    padding: 20px;
    border-color: #E13133;
    border-top: 2px solid #5E815E;
    
    
}

footer a {
    text-decoration: underline;
    color: #5E815E;
}